[submodule "dep/bc_gym_planning_env"]
	path = dep/bc_gym_planning_env
	url = https://github.com/braincorp/bc-gym-planning-env.git
[submodule "dep/bc_exploration"]
	path = dep/bc_exploration
	url = https://github.com/arashasgharivaskasi-bc/bc_exploration.git
