[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bc_gym_planning_env = {path = "./dep/bc_gym_planning_env", editable = true}
bc_exploration = {path = "./dep/bc_exploration", editable = true}


[requires]
python_version = "3.5"
